.sst
dist
node_modules
Pulumi.*.yaml
Pulumi.yaml

# osx
.DS_Store

# Local Netlify folder
.netlify
.env
tmp
.termai
.opencode

# SST Env files from examples
examples/*/sst-env.d.ts

# build outputs
/sst
